.select {
    border: 1px solid var(--cinza-médio);
    border-radius: 8px;
    padding: 8px 16px;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--branco--texto);
}
.select:focus {
    outline: 2px solid var(--branco--texto);
    outline-offset: 2px;
}

.option {
    padding: 4px 0px;
    background-color: var(--grafite--fundo-componentes);
    color: var(--branco--texto);
}